{%  extends 'base.html' %}

{% block content %}

<h2>{{budget.name}}</h2>

<p>current balance: {{ budget.balance }}</p>
<p>amount: {{ budget.amount }}</p>
<p><a href="/admin/finance/budget/{{budget.id}}/">edit</a></p>

<table>
<tr>
<td>
<form action="add_expense/" method="post">
  <h3>add expense</h3>
  <table>
    {{ addexpenseform.as_table }}
  </table>
  <input type="submit" value="add" />
</form>
</td>
<td>
<form action="transfer/" method="post">
  <h3>transfer</h3>
  <table>
    <tr>
      <th>amount</th>
      <td><input type="text" name="amount" id="transfer-amount" /></td>
    </tr>
    <tr>
      <th>to</th>
      <td>
	<select name="target">
	  {% for b in all_budgets %}
	  {%  ifnotequal budget.id  b.id %}
	  <option value="{{b.id}}">{{b.name}}</option>
	  {% endifnotequal %}
	  {% endfor %}
	</select>
  </table>
  <input type="submit" value="transfer"/>
</form>
</td>
</tr>

<tr>
<td colspan="2">

<table style="width: 100%">
<tr>
  <th>date</th>
  <th>label</th>
  <th>amount</th>
</tr>

{% for entry in budget.ledger %}
<tr class="{% cycle 'even' 'odd' %} {% if entry.is_income %}income{% endif %}">
  <th class="date">{% ifchanged entry.when %}{{ entry.when|date:"M d" }}{% endifchanged %}</th>
  <td>{{ entry.label }}</td>
  <td class="amount">${{ entry.amount }}</td>
</tr>
{% endfor %}
</table>

</td>
</tr>

</table>

{% endblock %}

