{%  extends 'base.html' %}
{% block title %}summary{% endblock %}
{% block content %}

<h2>{{budget.name}}</h2>


<table>
<tr>
<td colspan="2">
<p>current balance: {{ budget.balance }}</p>
<p>amount: {{ budget.amount }}</p>
<p><a href="/admin/finance/budget/{{budget.id}}/">edit</a></p>

<table class="ledger" style="width: 100%">
  <tr class="even">
    <th></th>
    <th>year</th>
    <th>month</th>
    <th>week</th>
  </tr>

  <tr class="odd income">
    <th>income</th>
    <td class="amount">${{ stats_year.incomes }}</td>
    <td class="amount">${{ stats_month.incomes }}</td>
    <td class="amount">${{ stats_week.incomes }}</td>
  </tr>

  <tr class="even">
    <th>expense</th>
    <td class="amount">${{ stats_year.expenses }}</td>
    <td class="amount">${{ stats_month.expenses }}</td>
    <td class="amount">${{ stats_week.expenses }}</td>
  </tr>

  <tr class="odd">
    <th>net</th>
    <td class="amount">${{ stats_year.net }}</td>
    <td class="amount">${{ stats_month.net }}</td>
    <td class="amount">${{ stats_week.net }}</td>
  </tr>
</table>
</td>
</tr>


<tr>
<td>
<form action="add_expense/" method="post">
  <h3>add expense</h3>
  <table>
    {{ addexpenseform.as_table }}
  </table>
  <input type="submit" value="add" />
</form>
</td>
<td>
<form action="transfer/" method="post">
  <h3>transfer</h3>
  <table>
    <tr>
      <th>amount</th>
      <td><input type="text" name="amount" id="transfer-amount" /></td>
    </tr>
    <tr>
      <th>to</th>
      <td>
	<select name="target">
	  {% for b in all_budgets %}
	  {%  ifnotequal budget.id  b.id %}
	  <option value="{{b.id}}">{{b.name}}</option>
	  {% endifnotequal %}
	  {% endfor %}
	</select>
  </table>
  <input type="submit" value="transfer"/>
</form>
</td>
</tr>

<tr>
<td colspan="2">

<table style="width: 100%" class="ledger">
<tr>
  <th>date</th>
  <th>label</th>
  <th>amount</th>
  <th>balance</th>
</tr>

{% for entry in budget.ledger %}
<tr class="{% cycle 'even' 'odd' %} {% if entry.is_income %}income{% endif %}">
  <th class="date">{% ifchanged entry.when %}{{ entry.when|date:"M d" }}{% endifchanged %}</th>
  <td>{{ entry.label }}</td>
  <td class="amount">${{ entry.amount }}</td>
  <td class="amount">${{ entry.running_total }}</td>
</tr>
{% endfor %}
</table>

</td>
</tr>

</table>

{% endblock %}

