{%  extends 'base.html' %}
{% block title %}summary{% endblock %}
{% block content %}

<table>
<tr>
<td>
  <h2>recent transactions</h2>
<table class="ledger">
<tr>
  <th>date</th>
  <th>label</th>
  <th>budget</th>
  <th>amount</th>
</tr>

{% for entry in ledger %}
<tr class="{% cycle 'even' 'odd' %} {% if entry.is_income %}income{% endif %}">
  <th class="date">{% ifchanged entry.when %}{{ entry.when|date:"M d" }}{% endifchanged %}</th>
  <td>{{ entry.label }}</td>
  <td><a href="{{entry.budget.get_absolute_url}}">{{ entry.budget.name }}</a></td>
  <td class="amount">${{ entry.amount }}</td>
</tr>
{% endfor %}
</table>
</td>
<td>
<h2>summary</h2>
<p>current balance: <b>${{total}}</b></p>
<table class="ledger" style="width: 100%">
  <tr class="even">
    <th></th>
    <th>year</th>
    <th>month</th>
    <th>week</th>
  </tr>

  <tr class="odd income">
    <th>income</th>
    <td class="amount">${{ stats_year.incomes }}</td>
    <td class="amount">${{ stats_month.incomes }}</td>
    <td class="amount">${{ stats_week.incomes }}</td>
  </tr>

  <tr class="even">
    <th>expense</th>
    <td class="amount">${{ stats_year.expenses }}</td>
    <td class="amount">${{ stats_month.expenses }}</td>
    <td class="amount">${{ stats_week.expenses }}</td>
  </tr>

  <tr class="odd">
    <th>net</th>
    <td class="amount">${{ stats_year.net }}</td>
    <td class="amount">${{ stats_month.net }}</td>
    <td class="amount">${{ stats_week.net }}</td>
  </tr>
</table>


<h3>budgets</h3>
<table class="ledger" style="width: 100%">
  <tr>
    <th>budget</th>
    <th>current balance</th>
  </tr>

  {% for budget in budgets %}
  <tr class="{% cycle 'even' 'odd'%}">
    <th><a href="{{budget.get_absolute_url}}">{{budget.name}}</a></th>
    <td class="amount">{% if budget.negative_balance %}<span class="negative">{% endif %}${{budget.balance}}{% if budget.negative_balance %}</span>{% endif %}</td>
  </tr>
  {% endfor %}
</table>

</td>
</tr>
</table>


{% endblock %}
